---
title: "P03_LoopFunction(2)"
author: "김수환"
date: "12/16/2024"
---

# Python에서의 조건문, 반복문, 사용자 정의 함수

이번 강의에서는 **if, while, for**등의 조건문, 반복문과 사용자 정의 함수에 대해 학습한다.

## 논리 연산 (Logical operator)

논리 연산(logical operation) 혹은 불 연산(boolean operation)은 참, 거짓 두 가지 원소(진리값으로 불림)만 존재하는 집합에서의 연산으로, 제어문(조건문, 반복문)에 필수적이다.

### 비교 연산

| 부호 | 정의 |
| --- | --- |
| > | x > y : x가 y보다 크다 |
| >= | x가 y보다 크거나 같다 |
| < | x가 y보다 작다 |
| <= | x가 y보다 작거나 같다 |
| == | x와 y가 같다 |
| != | x와 y가 같지 않다 |

In [2]:
x = 1
x == 1

True

In [3]:
x >= 2

False

### 논리 연산

| 키워드 | 비트 | 설명 |
| ---- | ---- | ---- |
| and | & | 논리식이 모두 참이면 참 |
| or | \| | 논리식 중에서 하나라도 참이면 참 |
| not | ~ | 논리식의 결과가 참이면 거짓을, 거짓이면 참 |
| | ^ | 논리식중 하나가 참이고 다른하나가 거짓이면 참 (XOR)  |

In [4]:
x == 1 & x == 2

False

In [6]:
x == 1 and x == 2
print((x == 1)^(x == 2))

True

### 기타 연산

| in | not in |
| --- | --- |
| x in 리스트 | x not in 리스트 |
| x in 튜플 | x not in 튜플 |
| x in 문자열 | x not in 문자열 |

In [7]:
1 in [1, 2, 3]

True

In [8]:
1 not in [1, 2, 3]

False

## 조건문 (if문)

**Python**프로그래밍에서 조건을 판단하여 해당 조건에 맞는 상황을 수행하는 데 쓰인다. ``if``문의 사용법은 다음과 같다.

```python
if 조건문:  

    수행할 문장 1  
    수행할 문장 2  
    ...    
    
elif 조건문2:  

    수행할 문장 2-1  
    수행할 문장 2-2  
    ...  

elif 조건문N:  

    수행할 문장 N-1  
    수행할 문장 N-2  
    ...  
    
else:  

    수행할 문장 A  
    수행할 문장 B  
    ...  
```

**주의. Python에서는 들여쓰기로 코드의 블럭을 나눈다.**

In [10]:
x = 5
if x < 5:
   x += 1
else:
   x -= 1

print(x)

4

In [12]:
x = 5
if x < 5:
    x = x + 1
elif x > 5:
    x = x - 1
else:
    x = x * 2

print(x)

10

## 반복문 (for문, while문)

반복문은 반복해서 문장을 수행해야 할 경우 사용된다. **Python**에서 사용되는 반복문은 ``for``문과 ``while``문이 있다.

### for 문

``for``문의 기본구조는 다음과 같다.  

```python
for 변수 in 리스트(또는 튜플, 문자열, range):  

    수행할 문장1
    수행할 문장2
    ...
```

0부터 99까지 더하는 예제

0에서 시작하는 루프임에 유의

In [13]:
count = 0
for i in range(100):
    count += i
    if i % 10 == 0:
      print(count)

print(count)

0
55
210
465
820
1275
1830
2485
3240
4095
4950

In [14]:
count = 0
x = list(range(31))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [15]:
for i in x:
    count += i

print(count)

465

0부터 9까지 더하는 것을 10번 반복

In [16]:
count = 0
for i in range(10):
    for j in range(10):
        count += j

print(count)

450

순서와 값을 이용하는 예제

In [18]:
x = range(0,100,11)
print(list(x))
for i, y in enumerate(x): # 순서와 값을 반환
    print('i (order) is : ', i, ', y (index) is : ', y)

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]
i (order) is :  0 , y (index) is :  0
i (order) is :  1 , y (index) is :  11
i (order) is :  2 , y (index) is :  22
i (order) is :  3 , y (index) is :  33
i (order) is :  4 , y (index) is :  44
i (order) is :  5 , y (index) is :  55
i (order) is :  6 , y (index) is :  66
i (order) is :  7 , y (index) is :  77
i (order) is :  8 , y (index) is :  88
i (order) is :  9 , y (index) is :  99

튜플을 이용한 예제

In [19]:
x = [(1,2), (3,4), (5,6)]
for (f,l) in x:
    print(f+l)

3
7
11

#### ``break``문

``break``문은 반복문을 강제 종료할 때 사용된다.

In [20]:
x = range(0,100,11)
for i in x:
    print(i)
    if i > 50:
        break

0
11
22
33
44
55

#### ``continue``문

``continue``문은 반복문에서 특정 반복을 건너뛸 때 사용된다.

In [21]:
x = range(0, 10)
for i in x:
    print(i)
    if i <= 4:
        continue
    # 여기에서 조건이 맞으면 위로 돌아감
    print(10*i)
    # 여기에서 조건이 안맞으면 계속 실행

0
1
2
3
4
5
50
6
60
7
70
8
80
9
90

#### 리스트 내포(List comprehension)

리스트 안에 ``for``문을 포함하는 리스트 내포를 이용하면 편리하고 직관적인 프로그램을 만들 수 있다.

In [22]:
x = [1, 2, 3, 4]
r = []

for i in x:
    r.append(i*3)

print(r)

[3, 6, 9, 12]

In [23]:
r = [i*10 for i in x]
print(r)

[10, 20, 30, 40]

In [24]:
r = [i*3 for i in x if i == 2]
print(r)

[6]

루프를 돌아가면서도 조건을 확인해서 조건이 맞을 떄만 작동

In [25]:
r = [x*y for x in range(2,10) for y in range(1,10)]
print(r)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

내포문에서 이중 루프도 가능함

#### 튜플, 딕셔너리, 집합 내포

In [26]:
x = range(-5, 5)
print(list(x))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [27]:
z_tuple = tuple(i**3 for i in x)
print(z_tuple)
# 튜프 내포

(-125, -64, -27, -8, -1, 0, 1, 8, 27, 64)

In [28]:
print(list(x))
z_set = {x[i]**2.0 for i in x}
print(z_set)
# 집합 내포

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]
{0.0, 1.0, 4.0, 9.0, 16.0, 25.0}

In [29]:
z_dict = {str(i):i*2 for i in x}
print(z_dict)
# dictionary: 이름-값

{'-5': -10, '-4': -8, '-3': -6, '-2': -4, '-1': -2, '0': 0, '1': 2, '2': 4, '3': 6, '4': 8}

#### 연습문제

- 정수값을 받아서 짝수를 화면에 출력하는 코드를 작성하시오.
- A학급에 총 10명의 학생에 대한 중간점수가 있다. 평균을 구하시오.
```
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
```

In [30]:
count = 0
i = 1
while i < 10:
    count += i
    i += 1

print(i)
print(count)

10
45

In [31]:
count = 0
for i in range(0,10):
    count += i

print(i)

9

In [32]:
import numpy as np
condition = True
i = 0
x = range(-10,10)
print(np.array(x))

while condition:
    if x[i] > 0:
        break    # condition = False
    print(x[i])
    i += 1
# 양수가 되는 순간 루프를 나오고 아래 구문을 작동시키지 않음

[-10  -9  -8  -7  -6  -5  -4  -3  -2  -1   0   1   2   3   4   5   6   7
   8   9]
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

#### 연습문제
- 1부터 50까지의 수 중 짝수를 화면에 출력하는 코드를 작성하시오.

- ``while``문을 이용하여 아래와 같이 \*를 표시하시오.

    \*  
\*\*  
\*\*\*  
\*\*\*\*  
\*\*\*\*\*

**참고. 문자열에 상수를 곱하면 해당 문자가 반복된다.**

In [33]:
"*" * 10

'**********'

## 사용자 정의 함수

사용자 정의 함수는 사용자가 직접 새로운 함수를 정의하는 방법으로 똑같은 내용이 반복되는 부분을 주로 함수로 정의하여 사용한다.  
**Python**에서 사용자 정의 함수를 정의하는 구조는 아래와 같다.

```python
def 함수명(입력 인수):

    수행할 문장1
    수행할 문장2
    ...
    return 결과값
```

제곱

In [34]:
def square(x):
    return x**2

In [35]:
x = 2
y = square(x)
print(x,y)

2 4

거리

In [36]:
def l2dist(x,y):
    return (x-y)**2

In [37]:
x = 3
y = 10
z = l2dist(x,y)
print(x,y,z)

3 10 49

In [38]:
z = l2dist(y=10,x=3)
print(z)

49

**Python에서 사용자 정의 함수는 입력 인수에 초기값을 설정할 수 있다. 단, 초기값을 가지는 인수는 맨 뒤에 위치해야 한다.**

In [39]:
def lp_norm(x,y,p=2):
    n = len(x)
    d = []
    for i in range(n):
        d.append(abs(x[i] - y[i])**p)
    return sum(d)**(1/p)

In [40]:
x = list(range(1,10))
y = list(range(10,1,-1))
print(x)
print(y)
l2 = lp_norm(x,y)
l1 = lp_norm(x,y,1)
print(l1,l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
41.0 15.7797338380595

**입력 인수의 갯수를 변하도록 정의할 수 있다.**

In [41]:
def lp_norm(x,y,p=2,*args):
    n = len(x)
    d = []
    for i in range(n):
        d.append(abs(x[i] - y[i])**p)
    print('The L' + str(p) + ' distance is :', sum(d)**(1/p))
    out = [sum(d)**(1/p)]

    print('Number of *args:', len(args))
    for p in args:
        d = []
        for i in range(n):
            d.append(abs(x[i] - y[i])**p)
        print('The L' + str(p) + ' distance is :', sum(d)**(1/p))
        out.append(sum(d)**(1/p))

    return tuple(out)

In [42]:
x = list(range(1,10))
y = list(range(10,1,-1))

In [43]:
lp = lp_norm(x,y)
print(lp)

The L2 distance is : 15.7797338380595
Number of *args: 0
(15.7797338380595,)

In [44]:
lp = lp_norm(x,y,1)
print(lp)

The L1 distance is : 41.0
Number of *args: 0
(41.0,)

In [45]:
lp = lp_norm(x,y,1,2,3,4,1.5,2.5,0.5)
print(lp)
# number 역시 0부터 시작함

The L1 distance is : 41.0
Number of *args: 6
The L2 distance is : 15.7797338380595
The L3 distance is : 11.983774366920516
The L4 distance is : 10.631810414384907
The L1.5 distance is : 21.370708630062115
The L2.5 distance is : 13.317802359045247
The L0.5 distance is : 332.2505125167682
(41.0, 15.7797338380595, 11.983774366920516, 10.631810414384907, 21.370708630062115, 13.317802359045247, 332.2505125167682)

1 이후가 새로운 인수가 됨

**정의된 함수의 설명을 추가 할 수 있다.**

In [46]:
def lp_norm(x,y,p = 2):
    r""" Compute the distance between vectors.

    The Lp normed distance is sum(abs(x-y)**p)**(1/p)

    Parameters
    ----------
    x : ndarray
        First argument
    y : ndarray
        Second argument
    p : float, optional
        Power used in distance calculation, >=0

    Returns
    -------
    output : scalar
        Returns the Lp normed distance between x and y

    Notes
    -----

    For p>=1, returns the Lp norm described above. For 0<=p<1,
    returns sum(abs(x-y)**p). If p<0, p is set to 0.

    Examples
    --------
    >>> x=[0,1,2]
    >>> y=[1,2,3]

    L2 norm is the default

    >>> lp_norm(x,y)

    Lp can be computed using the optional third input

    >>> lp_norm(x,y,1)

    """

    if p<0: p=0

    n = len(x)
    d = []
    for i in range(n):
        d.append(abs(x[i] - y[i])**p)

    if p == 0:
        count = 0
        for i in range(n):
            if d[i] != 0:
                count += 1
        return count
    elif p < 1:
        return sum(d)
    else:
        return sum(d)**(1/p)

In [47]:
help(lp_norm)

Help on function lp_norm in module __main__:

lp_norm(x, y, p=2)
    Compute the distance between vectors.

    The Lp normed distance is sum(abs(x-y)**p)**(1/p)

    Parameters
    ----------
    x : ndarray
        First argument
    y : ndarray
        Second argument
    p : float, optional
        Power used in distance calculation, >=0

    Returns
    -------
    output : scalar
        Returns the Lp normed distance between x and y

    Notes
    -----

    For p>=1, returns the Lp norm described above. For 0<=p<1,
    returns sum(abs(x-y)**p). If p<0, p is set to 0.

    Examples
    --------
    >>> x=[0,1,2]
    >>> y=[1,2,3]

    L2 norm is the default

    >>> lp_norm(x,y)

    Lp can be computed using the optional third input

    >>> lp_norm(x,y,1)

**변수의 적용 범위**
  - 로컬과 글로벌이 존재
  - 로컬은 함수 안에서 글로벌은 전체에 작용함

In [48]:
def scope_local():
    a = -1
    print('Inside scope_local, a is ',a)

def scope_global():
    global a
    a = -10
    print('Inside scope_global, a is ',a)

In [50]:
a=1
print('a is ',a)
print('')
scope_local()
print('a is now ',a)
print('')
scope_global()
print('a is now ',a)

a is  1

Inside scope_local, a is  -1
a is now  1

Inside scope_global, a is  -10
a is now  -10

**``lambda``명령어를 사용하여 익명 함수를 정의할 수 있다.**

In [51]:
nested = [('John','Doe','Oxford'),\
          ('Jane','Dearing','Cambridge'),\
          ('Jerry','Dawn','Harvard')]

In [52]:
nested.sort()
print(nested)

[('Jane', 'Dearing', 'Cambridge'), ('Jerry', 'Dawn', 'Harvard'), ('John', 'Doe', 'Oxford')]

In [53]:
print( (lambda x:x**2)(5) )
# 함수 정의
nested.sort(key=lambda x:x[1])
print(nested)
# 1번 첨자로 소팅

25
[('Jerry', 'Dawn', 'Harvard'), ('Jane', 'Dearing', 'Cambridge'), ('John', 'Doe', 'Oxford')]

#### 연습문제

- 입력을 정수 n으로 받았을 때, n이하까지의 피보나치 수열을 출력하는 함수를 작성하시오.

    ```    0, 1, 1, 2, 3, 5, 8, 13, ... ```

- 다음의 값을 오름차순으로 정력하는 함수를 작성하시오.

   ``` 3, 2, 8, 4, 9, 13, 5 ```

## 모듈(Modules)

모듈(module)이란 함수나 변수 또는 클래스(class) 들을 모아 놓은 파일로, 다른 **Python**프로그램에서 ``import``명령어를 통해 불러와 사용할 수 있다.

모듈 사용 방법:
1. ``import`` 모듈이름 ``as`` 별명
2. ``from`` 모듈이름 ``import`` 모듈함수

In [54]:
import numpy as np

x = np.random.rand(10)
print(x)

[0.5037167  0.33736336 0.45905245 0.07396127 0.14505654 0.8153129
 0.60459636 0.26636206 0.90918077 0.11907817]

**사용자 정의 모듈**

In [55]:
%%writefile -a core.py
r"""Demonstraion module.
This is the module docstring.
"""

def square(x):
    r"""Returns the square of a scalar input
    """
    return x*x

def cube(x):
    r"""Returns the cube of a scalar input
    """
    return x*x*x

Writing core.py

In [56]:
!pwd
#현재 작동되는 위치를 표시

/content

In [57]:
import core

y = -3
print(core.square(y))
print(core.cube(y))

9
-27

**\_\_main\_\_의 역할**


모듈 자체에 실행이 가능한 프로그램을 포함할 수 있도록 도와준다. 단, 다른 프로그램에서 불러와 사용될 때는 모듈안에 있는 실행 가능한 코드는 실행되지 않는다 (모듈이 연결되어 있는 경우, 독립성을 최대한 유지)

In [58]:
%%writefile -a core1.py
"""Demonstraion module.
This is the module docstring.
"""

def square(x):
    r"""Returns the square of a scalar input
    """
    return x*x

def cube(x):
    r"""Returns the cube of a scalar input
    """
    return x*x*x

if __name__ == "__main__":
    print('Program called directly.')
else:
    print('Program called indirectly using name: ', __name__)

Writing core1.py

In [59]:
!python3 core1.py

Program called directly.

### 패키지(Package) 설치

In [60]:
!pip3 install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)